body {
    background-color: rgb(230, 173, 226);
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: rgb(207, 114, 207);
   

}

p {
    color: rgb(207, 114, 114);
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


